.container-custom {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card-custom {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body-custom {
    font-style: oblique;
    color: aliceblue;
    background-color: rgba(39, 44, 51, 0.83);
    position: relative;
    width: 200%;
    left: 30%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    border: 1px solid;
    border-radius: 0.75rem;
}

.row-custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -500px;
    margin-left: 405px;
}

.card-body-issue {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    font-style: oblique;
    color: aliceblue;
    position: relative;
    /*left: 18%;*/
    width: 150%;
    background-color: rgba(39, 44, 51, 0.83);
}
